<div class="profile-modal-wrapper">

    <h2 class="mb-3 text-center">
        الملف الشخصي
    </h2>
    <div class="text-center mb-3">

        <img
            id="profile-preview"
            src="{{ user.profile_picture_url }}"
            class="profile-preview-img">

    </div>

    <form
        id="profile-form"
        enctype="multipart/form-data">

        {% csrf_token %}

        <div class="form-group">

            <label>First Name</label>

            <input
                type="text"
                class="form-control"
                name="first_name"
                value="{{ user.first_name }}">

        </div>

        <div class="form-group">

            <label>Last Name</label>

            <input
                type="text"
                class="form-control"
                name="last_name"
                value="{{ user.last_name }}">

        </div>

        <div class="form-group">

            <label>Email</label>

            <input
                type="email"
                class="form-control"
                name="email"
                value="{{ user.email }}">

        </div>

        <div class="form-group">

            <label>New Password</label>

            <input
                type="password"
                class="form-control"
                name="password">

        </div>

        <div class="form-group">

            <label>Profile Picture</label>

            <input
                type="file"
                id="profile_picture"
                class="form-control-file"
                name="profile_picture"
                accept="image/*">

        </div>

        <button
            type="submit"
            class="btn btn-primary btn-block">

            Save Changes

        </button>

    </form>

</div>